extends layout

block content
  h1(class='cover-heading') Blockchain based Voting
  p(class='lead')
  p(class='lead')
    span
      a(href='#', class='btn btn-lg btn-secondary', data-toggle="modal", data-target="#placeVote") Vote Now
    span
      a(href='#', class='btn btn-lg btn-secondary', id="showResultsButton", data-toggle="modal", data-target="#showResults") Show Results

  div(class='modal fade', id='placeVote', tabindex='-1', role='dialog')
    div(class='modal-dialog', role='document')
      div(class='modal-content')
        div(class="modal-content")
          div(class="modal-header")
            h5(class="modal-title") Place your vote
            button(type="button", class="close", data-dismiss="modal", aria-label="Close")
          div(class="modal-body")
            div(class='form-check')
              label(class='form-check-label')
                input(class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="Blue")
                span Michael Mayor
            div(class='form-check')
              label(class='form-check-label')
                input(class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="Green")
                span Benjamin Bürgermeister
            div(class='form-check')
              label(class='form-check-label')
                input(class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="Red")
                span Major Tom
            div(class='form-check')
              label(class='form-check-label')
                input(class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="Yellow")
                span Petra Principal
          div(class='modal-footer')
            button(type="button", id='send-vote' class="btn btn-primary") Send Vote

  div(class='modal fade', id='showResults', tabindex='-1', role='dialog')
    div(class='modal-dialog', role='document')
      div(class='modal-content')
        div(class="modal-content")
          div(class="modal-header")
            h5(class="modal-title") Results
            button(type="button", class="close", data-dismiss="modal", aria-label="Close")
          div(class="modal-body")
            canvas(id="results", width="400", height="400")
