doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/cover.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src='/javascripts/jquery-3.2.1.js')
    script(src='/javascripts/vote.js')

    script(src='/javascripts/bootstrap/bootstrap.bundle.min.js')
    script(src='/javascripts/Chart.bundle.js')

  body
    div(class='site-wrapper')
      div(class='site-wrapper-inner')
        div(class='cover-container')
          header(class='masthead clearfix')
            div(class='inner')
              h3(class='masthead-brand') Liquid Democracy
              nav(class='nav nav-masthead')

          main(class='inner cover', role='main')
            block content
